
%html
  %head
    %title Headspace / Take 10 / 1
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    :css
      tr:hover { background-color: lightyellow; }
      
  %body
    .sidebyside
      %h1 Headspace / Take 10 / 1           
      %table
        - for l in enru
          %tr
            %td= l[0]
            %td= l[1]

    %hr
    = "Обновлено #{last_update}"
